[push]
	default = simple
[core]
	editor = emacs
	excludesfile = /home/udh/.gitignore_global
[color]
	ui = auto
[alias]
	d     = "!git diff HEAD --color|less -FXRS"
	cm    = "commit -S -m"
	b     = "branch"
	#bc    = "!git branch | grep \* | cut -d ' ' -f2"
	bc    = "rev-parse --abbrev-ref HEAD"
	a     = "add"
	ad    = "!f(){ if [ $# -eq 0 ];then git add --all && git d;else git add $@ && git d; fi }; f"
	amd   = "commit --amend --reuse-message=HEAD"
	r     = "!f(){ if [ $# -eq 0 ];then git reset HEAD --hard; else git reset $@; fi }; f"
	r1    = "reset HEAD^"
	rh    = "reset --hard"
	s     = "stash"
	pop   = "stash pop"
	p     = "!f(){ if [ $# -eq 0 ];then git push -u origin $(g bc); else git push $@; fi }; f"
	pa    = "push --all"
	f     = "!git pull --ff-only||git pull"
	#hist  = "!git log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color|less -FXRS"
	l     = "!git log --graph --all                 --oneline --decorate --full-history --date-order --color|less -FXRS"
	ll    = "!git log --graph --all -10 --numstat   --oneline --decorate --full-history --date-order --color|less -FXRS"
	lt    = "!git log --graph --all -20             --oneline --decorate --full-history --date-order --color|less -FXRS"
	ltt   = "!git log --graph --all -40             --oneline --decorate --full-history --date-order --color|less -FXRS"
	lr    = "!git log --graph --all --since=1.weeks --oneline --decorate --full-history --date-order --color|less -FXRS"
	ls    = "!f(){ if [ $# -eq 0 ];then git ls-tree -r HEAD; else git ls-tree $@; fi }; f"
[apply]
	whitespace = fix
[merge]
	ff = false
[commit]
	gpgsign = true
