home/.i3/config
logs/*
home/.emacs.d/elpa
home/.emacs.d/.persistent-scratch
home/.emacs.d/eln-cache/
home/.emacs.d/transient/
home/.emacs.d/srecode-map.el
home/.local/share/zoxide/db.zo
home/.config/hyfetch.json
home/.config/neofetch/config.conf
**/*~
